<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a class="organization-header" href="{{ url_for('index') }}">Finances4You</a>
        <nav>
            <a href="{{ url_for('login') }}">Aceder à Conta</a>
        </nav>
    </header>
</body>
</html>